<%- include("partials/head") %>
    <%- include("partials/navbar") %>
    <!-- Home Section Start -->
 <section class="home" id="home">
    <div class="home-content">
      <div class="text">
        <div class="text-two">Bookyies</div>
        <div class="text-one">A network where book lovers where they can meet and greet </div>
        <div class="text-one">other book lovers. You can share your learnings, quotes, </div>
        <div class="text-one">favorite books with other. Chat with them, exchange your books</div>
        <div class="text-one">or trade your old books.</div>
        <div class="text-four">Have a cup of tea with new bookmate</div>
 
      </div>    
      <!-- <div class="button">
        <button>Hire Me</button>
      </div> -->
    </div>
  </section>
</body>
</html>